@model PersonViewModel
@{
    ViewData["Title"] = "Home Page";
}



<div class="container">
    <h1>some information</h1>
    @foreach(var name in Model.OnePersons){ 
        <p>@name.Name</p>
    }
</div>

