@model PersonViewModel
@{
    ViewData["Title"] = "Index";
}
<div class="data">
    <button class="previous btn btn-default">Previous</button>
    <button id="page" class="btn btn-default"></button>
    <button class="next btn btn-default">Next</button>
    <button class="24 btn btn-default">24</button>
    <button class="48 btn btn-default">48</button>
    <h2 class="text-center">TOP Artist</h2>
    <div class="artist">
        @foreach (var person in Model.OnePersons)
        {
            <a href="http://localhost:54638/Artist/GetArtist?name=@person.Name">
                <div class="col-md-2">
                    <img src="@person.Photo" style="width: 100%" />
                    <h4 class="text-center">@person.Name</h4>

                </div>
            </a>

        }
    </div>

    @*<nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link next_page" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>*@
    @*<h4>@ViewBag.status</h4>*@
    @*<h4>@ViewBag.respond</h4>*@
</div>
